{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<main class="text-center mt-5">
<div class="container card border-card" style="width: 21.9rem; height: 20rem;">
<div class="card-body">
    <h1>Update Your Profile</h1>
    <form class="form-group" method="POST">
    {{form.hidden_tag()}}
    <div>
        <p>
            {{form.username(placeholder="Username")}}
        </p>
        <p>
            {{form.first_name(placeholder="First Name")}}
        </p>
        <p>
            {{form.last_name(placeholder="Last Name")}}
        </p>
        <p>
            {{form.email(placeholder="Email")}}
        </p>
    </div>
</div>
</div>
    <div class="container card border-card mt-2" style="width: 21.9rem; height: 12rem;">
        <div class="card-body">
        <p class="mt-1">
            Please enter your password below for verification.
        </p>
        <p>
            {{form.password}}
        </p>
        {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
            <span class="alert alert-danger">{{ error }}</span>
        {% endfor %}
        {% endfor %}
        </div>
        <button class="btn btns mb-3" type="submit">Update</button>
    </div>
    </p>
    
    </form>

</main>
{% endblock %}