{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Sign Up</h1>
    <form class="form-group" method="POST">
    {{form.hidden_tag()}}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
    {{field.label}}
    {{field}}

    {% for error in field.errors %}
        {{ error }}
    {% endfor %}
    {% endfor %}
    </p>
    <button class="btn btns" type="submit">Sign Up!</button>
    </form>
</div>
{% endblock %}