{% extends 'base.html' %}

{% block title %}{{user.username}}'s Page{% endblock %}

{% block nav %}
{% if g.user %}
    <ul class="navbar-nav d-inline col-6">
        <li class="navbar-text">
            <a class="nav-link" href="{{url_for('view_cart')}}"><i class="fas fa-shopping-cart"></i></a>
        </li>
            <li class="navbar-text ml-2">
                <p>Hello, <a href="{{url_for('user_page')}}">{{g.user.first_name}}</a>!</p>
            </li>
                <li class="navbar-text ml-2">
                |
                </li>
            <li class="navbar-text ml-2">
                <a class="nav-link" href="{{url_for('logout')}}">Sign Out</a>
            </li>
            {% else %}
            <li class="navbar-text ml-2">
            <a class="nav-link" href="{{url_for('login')}}">Login</a>
            </li>
                <li class="navbar-text ml-2">
                |
                </li>
                <li class="navbar-text ml-2">
                <a class="nav-link" href="{{url_for('signup')}}">Sign Up</a>
                </li>
            {% endif %}
    </ul>
{% endblock %}

{% block cart %}
<div class="container">
    <div class="d-flex justify-content-center mt-4">
    <h1>Your Account</h1>
    </div>
    <div class="text-center">
        <p><b>Name:</b> {{user.first_name}} {{user.last_name}}</p>
        <p><b>Username:</b> {{user.username}}</p>
        <p><b>Email:</b> {{user.email}}</p>
    </div>
</div>
<div class="d-flex justify-content-center mt-4">
    <a class="btn btns" href="{{url_for('edit_user', id=g.user.id)}}">Edit Profile</a>
</div>
{% endblock %}