{% extends 'base.html' %}

{% block title %}Cart{% endblock %}

{% block cart %}
<section class="container borders">
<div class="container">
    <div class="row">
    <div class="col-lg-3 col-sm-6">
    <img class="col-md-12" src="{{product.product_img}}">
    </div>

    <div class="col-md-3">
        <p>{{product.product_name}}</p>
        <span>Description:</span>
        <p>Just add water and it will never and will forever be there.</p>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Quanitity
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">1</a>
            <a class="dropdown-item" href="#">2</a>
            <a class="dropdown-item" href="#">3</a>
            </div>
            <span>|</span>
            <a href=#>Remove</a>    
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <span>Price: <b>${{product.price}}</b></span>
    </div>
    <div class="col-md-3">
    <form>
        <button class="btn btns">Proceed to checkout</button>
    </form>
    </div>
    </div>

</div>
</section>
{% endblock %}