{% extends 'base.html' %}

{% block title %}Cart{% endblock %}

{% block nav %}
{% if g.user %}
            <ul class="navbar-nav d-inline col-6">
                    <li class="navbar-text ml-2">
                        <p>Hello, <a href="{{url_for('user_page')}}">{{g.user.first_name}}</a>!</p>
                    </li>
                    <li class="navbar-text">
                        |
                        </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="{{url_for('logout')}}">Sign Out</a>
                    </li>
                    {% else %}
                    <li class="navbar-text">
                        <a class="nav-link" href="{{url_for('login')}}">Login</a>
                    </li>
                    <li class="navbar-text">
                    |
                    </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="{{url_for('signup')}}">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
{% endblock %}

{% block cart %}
{% if "product" not in session %}

<div class="container text-center">
    <h1>Your cart is currently empty.</h1>
    <p class="update-user">Continue shopping <a class="login-here" href="/">here</a>.</p>
</div>

{% else %}

<section class="container borders">
<div class="container">
    <div class="row">
    <div class="col-lg-3 col-sm-6">
    <img class="col-md-12" src="{{product.product_img}}">
    </div>

    <div class="col-md-3">
        <p class="product-title">{{product.product_name}}</p>
        <span>Description:</span>
        <p>Just add water and it will never reduce and will forever be there.</p>
        <div class="dropdown">
            <button class="dropdown-toggle qty" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Quantity
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">1</a>
            <a class="dropdown-item" href="#">2</a>
            <a class="dropdown-item" href="#">3</a>
            <a class="dropdown-item" href="#">4</a>
            <a class="dropdown-item" href="#">5</a>
            </div>
            <span>|</span>
            <a class="remove" href="{{url_for('remove_item')}}">Remove</a>    
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <span>Price: <b>${{product.price}}</b></span>
    </div>
    <div class="col-md-3">
    <form>
        <button class="btn btns">Proceed to checkout</button>
    </form>
    </div>
    </div>

</div>
</section>

{% endif %}

{% endblock %}