{% extends 'base.html' %}
{% block title %}Checkout{% endblock %}
{% block nav %}
{% if g.user %}
            <ul class="navbar-nav d-inline col-6">
                    <li class="navbar-text ml-2">
                        <p>Hello, <a href="{{url_for('user_page')}}">{{g.user.first_name}}</a>!</p>
                    </li>
                    <li class="navbar-text">
                        |
                        </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="{{url_for('logout')}}">Sign Out</a>
                    </li>
                    {% else %}
                    <li class="navbar-text">
                        <a class="nav-link" href="{{url_for('login')}}">Login</a>
                    </li>
                    <li class="navbar-text">
                    |
                    </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="{{url_for('signup')}}">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
{% endblock %}

{% block cart %}
<section class="container text-center">
    <div>
        <p>Is this your order?</p>
    </div>
<div>
    <form method="POST">
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
        {{field(class="btn btns")}}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
        {% endfor %}
        </p>

    <p class="update-user">By placing your order, you are agree to YouBreakYouBuy's <a href="{{url_for('refund_policy')}}" class="login-here">refund policy</a>.</p>
    </form>
</div>
</section>
{% endblock %}