{% extends 'base.html' %}
{% block title %}Checkout{% endblock %}
{% block nav %}
{% if g.user %}
            <ul class="navbar-nav d-inline col-6">
                    <li class="navbar-text ml-2">
                        <p>Hello, <a href="{{url_for('user_page')}}">{{g.user.first_name}}</a>!</p>
                    </li>
                    <li class="navbar-text">
                        |
                        </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="{{url_for('logout')}}">Sign Out</a>
                    </li>
                    {% else %}
                    <li class="navbar-text">
                        <a class="nav-link" href="{{url_for('login')}}">Login</a>
                    </li>
                    <li class="navbar-text">
                    |
                    </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="{{url_for('signup')}}">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
{% endblock %}

{% block cart %}
<section class="container text-center">
    <div>
        <p class="order-summary">Order Summary</p>
    </div>
    <div class="d-flex justify-content-center">
        <div class="card p-5" style="width: 21rem; height: 10rem;">
            {{product.product_name}}
        
            <span class="order mt-2">
                <hr class="hr-2">
                Order total: <span class="ml-1">${{product.price}}</span>
            </span>
        </div>
    </div>
<div>
    {% if g.user %}
    <form method="POST">
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
        {{field(class="btn btns")}}
        {% for error in field.errors %}
    
        <p>{{ error }}</p>
        {% endfor %}
        {% endfor %}
        </p>
    
    <p class="update-user">By placing your order, you are agree to YouBreakYouBuy's <a href="{{url_for('refund_policy')}}" class="login-here">refund policy</a>.</p>
    </form>

    {% else %}

    <div class="container text-center mt-3">
    <p class="update-user">Please <a class="login-here" href="{{url_for('login')}}">login</a> in order to continue with your purchase. </p>
    </div>  

    {% endif %}

</div>
</section>
{% endblock %}