html {
	scroll-behavior: smooth;
}

.section-color {
	background-color: rgba(240, 101, 36, 0.849);
}

.navbar {
	background-color: rgba(240, 101, 36, 0.849);
}
#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	color: rgba(0, 0, 0, 0.4);
	text-align: center;
	font-size: 13px;
}
#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 2.5rem;
}

.indent {
	text-indent: 50px;
}
.border-card {
	border-color: rgba(231, 109, 109, 0.9);
}

.login-here {
	color: rgba(221, 96, 96, 0.9);
	font-weight: bold;
}

#login-brand-font {
	font-size: 33px;
}

.no-account {
	font-size: 14px;
}

#signup-rules {
	font-size: 13px;
	color: rgba(0, 0, 0, 0.4);
}

.btns {
	background-color: rgba(231, 96, 96, 0.9);
	color: white;
	font-weight: bold;
}

.brand-font {
	font-family: 'Courier New', Courier, monospace;
	border: black;
}

.product-img-size {
	height: 90%;
	width: 90%;
}

.description {
	color: rgba(255, 255, 255, 0.925);
}
.photo-img {
	object-fit: cover;
	width: 80%;
	height: 110%;
	border-radius: 50%;
}
.photo-img2 {
	object-fit: cover;
	width: 70%;
	height: 90%;
	border-radius: 50%;
}

.letter {
	font-size: 100px;
}
